<!DOCTYPE html>
<html>
<head>
    <title>Foodies Reservation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    
<nav>
    <img src="/images/images.jpg">
    <% if (user) { %>
    <a href="/foodies/new">Create New Reservation</a>
    <a href="/restaurants/new">Add Restaurant</a>
    <a href="/foodies">All Reservations</a>
    <a href="/restaurants">All Restaurants</a>
    <a href="/logout">LOG OUT</a>
   
</nav>

<main>
    <h1>Welcome back, Here is a list of your reservation</h1>
    <table id="list">
        <thead>
        <tr>
            <th>Name of Person on the reservation</th>
            <th>Number of Guests</th>
            <th>Restaurant name</th>
            <th>Type of Food Served</th>
            <th>Average Customer Ratings</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% foodieDocs.forEach(function(doc) { %>
        <tr>
            <td><%= doc.nameOnReserv %></td>
            <td><%= doc.numberOfGuest %></td>
            <td><%= doc.restaurantId.restName %></td>
            <td><%= doc.restaurantId.typeOfFood %></td>
            <td><%= doc.restaurantId.reviewRating %></td>
            <td>
                <% if (doc._id) { %>
                <a href="/foodies/<%= doc._id %>">DETAILS</a>
                <% } %>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
</main>
</body>
</html>
